<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title %}PERSONAL WEBSITE{% endblock title %}</title>
    <meta content="" name="kmeto-personal-website, kmeto-website, kmeto">
    <meta content="" name="kmeto-personal-website, kmeto-website, kmeto">

    <!-- Favicons -->
    <link href="/static/img/favicon_1.png" rel="icon">
    <link href="/static/img/apple-touch-icon_1.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- vendor_pers CSS Files -->
    <link href="/static/vendor_pers/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor_pers/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/vendor_pers/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/vendor_pers/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/vendor_pers/remixicon/remixicon.css" rel="stylesheet">
    <link href="/static/vendor_pers/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/css/perso.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Personal - v4.1.0
    * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>
  <body>

    <!-- ======= Header ======= -->
    <header id="header" {% block class %}{% endblock class %}>
      <div class="container">
  {% block message %}

        <h1><a href="/">Blaz Kmetic</a></h1>
        <h2>I'm a passionate <span>web developer</span> from Slovenia</h2>
  {% endblock message %}

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link" href="/">Home</a></li>
            <li><a class="nav-link" href="/about">About</a></li>
            <li><a class="nav-link" href="/resume">Resume</a></li>
            <li><a class="nav-link" href="/services">Services</a></li>
            <li><a class="nav-link" href="/portfolio">Portfolio</a></li>
            <li><a class="nav-link" href="/contact">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <div class="social-links">
          <a href="https://www.facebook.com/blaz.kmetic" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/in/bla%C5%BE-kmeti%C4%8D-0478ab135" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </header><!-- End Header -->
{% block content %}
{% endblock content %}
    <!-- vendor_pers JS Files -->
    <script src="/static/vendor_pers/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor_pers/glightbox/js/glightbox.min.js"></script>
    <script src="/static/vendor_pers/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/static/vendor_pers/php-email-form/validate.js"></script>
    <script src="/static/vendor_pers/purecounter/purecounter.js"></script>
    <script src="/static/vendor_pers/swiper/swiper-bundle.min.js"></script>
    <script src="/static/vendor_pers/waypoints/noframework.waypoints.js"></script>

    <!-- Template perso JS File -->
    <script src="/static/js/perso.js"></script>
  </body>
</html>