{% extends "base.html" %}

{% block title %}RESUME{% endblock title %}

{% block class %}class="header-top"{% endblock class %}

{% block content %}
 <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume section-show">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Blaz Kmetic</h4>
            <p><em>Innovative and deadline-driven web developer with 1+ year of experience.</em></p>
            <p>
            <ul>
              <li>Trzin, Jemceva 26, SlO</li>
              <li>(123) 456-7891</li>
              <li>blazyy@gmail.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>SMART NINJA PERSONAL COURSE</h4>
            <h5>2021 - 2022</h5>
            <p><em>SmartNinja course</em></p>
            <p>One year individual coding course </p>
          </div>
          <div class="resume-item">
            <h4>French Foreign Legion</h4>
            <h5>2013-2021</h5>
            <p><em>Calvi, Frace</em></p>
            <p>After 8 years in the army, I can say that I know how to work well in a team as well as in a solo project. I also work well under pressure</p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Developer</h4>
            <h5>2021 - Present</h5>
            <p><em>SmartNinja course, SLO </em></p>
            <p>
            <ul>
              <li>Python</li>
              <li>HTML5</li>
              <li>CSS</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>French Foreign Legion</h4>
            <h5>2013 - 2021</h5>
            <p><em>2nd Paratroopers Regiment, New York, NY</em></p>
            <p>
            <ul>
              <li>2016-2021 Infantry combat group leader as NCO (Non-commissioned officer)</li>
              <li>2015-2016 Team leader - Calvi</li>
              <li>2013-2015 Soldier in mountain specialized-company - Calvi</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Languages</h4>
            <h5></h5>
            <p><em></em></p>
            <p>
            <ul>
              <li>Slovenian - Native language</li>
              <li>English - C1</li>
              <li>French - B2</li>
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

{% endblock content %}